{#
Debug page to test portal access
#}
{% extends "templates/web.html" %}

{% block title %}Portal Debug{% endblock %}

{% block page_content %}
<div class="container py-5">
	<h1>Portal Debug Page</h1>
	<p>If you see this, the page loaded successfully!</p>
	
	<div class="card">
		<div class="card-header">Session Info</div>
		<div class="card-body">
			<table class="table">
				<tr>
					<th>User</th>
					<td>{{ frappe.session.user }}</td>
				</tr>
				<tr>
					<th>Roles</th>
					<td>{{ user_roles | join(", ") }}</td>
				</tr>
				<tr>
					<th>User Type</th>
					<td>{{ user_type }}</td>
				</tr>
				<tr>
					<th>Is Guest</th>
					<td>{{ "Yes" if frappe.session.user == "Guest" else "No" }}</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="mt-4">
		<a href="/portal" class="btn btn-primary">Go to Portal</a>
		<a href="/portal/projects" class="btn btn-secondary">Go to Projects</a>
	</div>
</div>
{% endblock %}
