{% extends "templates/web.html" %}
{% block page_content %}
{% include "templates/includes/portal_navigation.html" %}
<link rel="stylesheet" href="/assets/illumenate_lighting/product_finder/portal/ill-finder.css">
<div id="ill-configurator-root" data-ill-manual-mount></div>
{% endblock %}
{% block script %}
<script src="/assets/illumenate_lighting/product_finder/portal/ill-finder.js"></script>
<script>
IllConfigurator.mount('ill-configurator-root', {mode:'portal',csrfToken:{{ csrf_token | default('') | tojson }}, sessionToken:{{ session_token | default(none) | tojson }},claimToken:{{ claim_token | default(none) | tojson }},preview:{{ preview | default(false) | tojson }},catalogUrl:'/portal/products'});
</script>
{% endblock %}
